[Desktop Entry]
Name=CYGO Desktop
Version=0.0.5
Exec=cygo-desktop
Comment=Desktop App for CYGO Network
Icon=CYGO-desktop
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
Categories=Application;GTK;Network
